{% extends 'base.html.twig' %}

{% block title %}Edit Country{% endblock %}

{% block body %}
    <h1>Edit Country</h1>

    {{ include('Country/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('Country_index') }}">back to list</a>

    {{ include('Country/_delete_form.html.twig') }}
{% endblock %}